
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Tools for Data Science
- Examples of arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Scikit-learn
3. Pandas


| Data Science Tools| 
| Jupyter Notebook | 
| Python| 
| Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335

## Author
Sheilyn Colina